<!-- <p>home works!</p> -->
<section >
        <div class="container">
          <!-- <div >
            <div class="intro-text-box">
              <h1>ANYTHING IS POSSIBLE, ANYTHING CAN BE</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s</p>
            </div>
          </div> -->
          <img src="assets/homeWallpaper.jpg" style="height: 453px; width:888px" alt="homeWallpaper" />
        </div>
      </section>