<div class="container">  
  
    <mat-card color="black"class ="mat-elevation-z5">  
      <mat-toolbar color="accent">  
        <div align="center" class="container">  
            <a routerLink="/"  routerLinkActive="acitve" class="nav-link">Home
                <!-- <i style="font-size: large;font-style: italic;
                font-family: -webkit-body;
                font-weight: initial">HOME</i> -->
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <a routerLink="/babynames" routerLinkActive="acitve" class="nav-link" >Baby Names
                <!-- <i style="font-size: large;font-style: italic;
                font-family: -webkit-body;
                font-weight: initial">Baby Names</i> -->
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/tips"  routerLinkActive="acitve" class="nav-link">
                <!-- <i style="font-size: large;font-style: italic;
                font-family: -webkit-body;
                font-weight: initial">Tips</i> -->Tips
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/food"  routerLinkActive="acitve" class="nav-link">
                <!-- <i style="font-size: large;font-style: italic;
                font-family: -webkit-body;
                font-weight: initial">Food</i> -->Food
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/about"  routerLinkActive="acitve" class="nav-link">
                <!-- <i style="font-size: large;font-style: italic;
                font-family: -webkit-body;
                font-weight: initial">About</i> -->About
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>    
      </mat-toolbar>  
    </mat-card>  
    </div>  